<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444495292216-7oiue6dtg19mp408mmpqs28hvvslucpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444495292216-7oiue6dtg19mp408mmpqs28hvvslucpu</string>
	<key>API_KEY</key>
	<string>AIzaSyBf22VNUX1bqNWzMpAhn1HyTi_HEK31KRs</string>
	<key>GCM_SENDER_ID</key>
	<string>444495292216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petAppQrcode</string>
	<key>PROJECT_ID</key>
	<string>pet-app-qrcode</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-app-qrcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444495292216:ios:5f54239f3e803954aa43cd</string>
</dict>
</plist>